---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Modes from "../components/Modes.astro";
import Experience from "../components/Experience.astro";
import Apps from "../components/Apps.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main class="mx-auto w-full max-w-6xl px-5 pb-16 sm:px-8">
    <Hero />
    <Modes />
    <Experience />
    <Apps />
    <Projects />
    <About />
  </main>
  <Footer />
</Layout>
